# Hugo build output and caches
/public/
/resources/
.hugo_build.lock

# Node dependencies
/node_modules/

# Secrets
.env

# Obsidian editing
content/.obsidian*
content/images
content/files

# Editor/IDE
# .idea/
# .vscode/
