footer .container {
  visibility: hidden;
}

div[id^="asciicast"] {
  max-width: 800px;   /* Set your desired width */
  width: 100%;
  height: 400px;      /* Set your desired height */
  margin: 0 auto;
  display: block;
}
